.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
staticfiles/
media/
*.rdb
.env
.env.*
!.env.example
.git/
.github/
schema/
requirements/dev.txt
**/tests/
**/migrations/__pycache__/
node_modules/
